* {
    box-sizing: border-box;
}

body {
    background-color: #F5F7FB;
}

/* START */
.start-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    margin-top: 200px;
}

.start-title {
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    font-weight: 700;

    color: #293264;

    margin-top: 0;
}

.start-description {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    color: #293264;

    margin-top: 0px;
}

.start-button {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;

    background-color: #4D5B9E;
    color: #F5F7FB;

    height: 50px;
    width: 190px;

    border: none;
    border-radius: 15px;

    cursor: pointer;

    margin-top: 20px;
}

.play-again-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.play-again-results {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-align: center;

    color: #293264;

    margin-top: 32px;
    margin-right: 20px;
}

/* QUESTION */

.question-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.question-list {
    width: 550px;
}

.question {
    display: flex;
    flex-direction: column;

    width: 400px;

    margin-left: 50px;
}

.question--text {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 700;

    color: #293264;
}

.answer-button {
    font-family: 'Inter', sans-serif;
    font-size: 10px;
    font-weight: 500;

    background-color: #F5F7FB;
    color: #4D5B9E;

    border-radius: 7.94239px;

    padding: 4px 12px 4px 12px;
    margin-right: 14px;

    cursor: pointer;
}

.answer-button-selected {
    background-color: #D6DBF5;
    color: #4D5B9E;

    border: none;
}

.answer-button-unselected {
    background-color: #F5F7FB;
    color: #4D5B9E;

    border: 1.5px solid #4D5B9E;
}

.answer-button-correct {
    background-color: #94D7A2;
    color: #293264;

    border: none;
}

.answer-button-incorrect {
    background-color: #F8BCBC;
    color: #293264;

    border: none;
}

hr {
    margin-top: 20px;
    margin-left: 50px;

    width: 500px;
    
    background-color: #DBDEF0;
    border: 0.794239px solid #DBDEF0;
}